<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center">
                <img src="assets/avatar.png" alt="avatar-img" width="80px">
            </p>
        </div>
        <div class="col-md-12" style="text-align: center">
            <span style="color:olive; top:0;left:0;bottom: 0; right: 0; margin: auto;">
                {{username.toUpperCase()}}
            </span>
        </div>
    </div>


    <ul class="list-group">
        <a routerLink="/dashboard" class="chip list-group-item">
            <i class=" chip-icon fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>


        <div class="nested-menu" *ngIf="user_role">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span class="chip">
                    <i class=" fa fa-fw fa-wrench"></i>
                    &nbsp; Paramètres
                </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    
                    <li [routerLink]="['/parametres/competences']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Compétences</span></a>
                    </li>
                    <li [routerLink]="['/parametres/branches']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Branches</span></a>
                    </li>

                    <li [routerLink]="['/parametres/fonctions']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Fonctions</span></a>
                    </li>
                    <li [routerLink]="['/parametres/antennes-sites']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Antennenes Sites</span></a>
                    </li>
                    <li [routerLink]="['/parametres/departements-services']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Départements & Services</span></a>
                    </li>
                    <li [routerLink]="['/parametres/systemes']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip">Systèmes</span></a>
                    </li>
                </ul>
            </li>
        </div>


        <a routerLink="/users" *ngIf="user_role" class="list-group-item">
            <span class="chip">
                  <i class="fa fa-fw fa-user"></i>&nbsp; Personnel
            </span>
          
        </a>

        <a routerLink="/users" class="list-group-item">
            <span class="chip">
               <i class="fa fa-fw fa-calendar"></i>&nbsp;Agenda#
            </span>
        </a>

        <a routerLink="/users" class="list-group-item">
            <span class="chip">
                    <i class="fa fa-fw fa-info"></i>&nbsp;Notes d'infos#
            </span>
           
        </a>









        <div class="nested-menu" *ngIf="!user_role">
            <a class="list-group-item" (click)="addExpandClass('rh')">
                <span class="chip"><i class="fa fa-fw fa-address-card-o"></i>&nbsp;Renseignements</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'rh'">
                <ul class="submenu">
                    <li [routerLink]="['/ressources-humaines/identites']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Identité unique</span></a>
                    </li>
                    <li [routerLink]="['/parametres/pieces-administratives']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Pièces Administratives</span></a>
                    </li>

                    <li [routerLink]="['/ressources-humaines/formations']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Formations</span></a>
                    </li>

                    <li [routerLink]="['/ressources-humaines/outils-informatiques']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Outils Informatique</span></a>
                    </li>

                    <li [routerLink]="['/ressources-humaines/affiliations']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Affiliations </span></a>
                    </li>

                    <!-- <li [routerLink]="['/ressources-humaines/publications-réalisées']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span> Publications réalisées</span></a>
                    </li> -->

                    <li [routerLink]="['/ressources-humaines/aptitudes']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> aptitudes</span></a>
                    </li>



                    <li [routerLink]="['/ressources-humaines/experiences-professionnelles']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Expériences Professionnelles</span></a>
                    </li>

                    <li [routerLink]="['/ressources-humaines/personnes-ressources']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Personnes ressources</span></a>
                    </li>

                    <li [routerLink]="['/ressources-humaines/langues']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Langues</span></a>
                    </li>

                    <!-- <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span> Signatures</span></a>
                    </li> -->

                    <!-- <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span> Docs. Consultants</span></a>
                    </li> -->
                </ul>
            </li>
        </div>


        <a routerLink="/ressources-humaines/documents" [routerLinkActive]="['router-link-active']" *ngIf="user_role"
            class="list-group-item">
            <span class="chip">
                <i class="fa fa-fw fa-user"></i>&nbsp;Documents #
            </span>
        </a>


        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('immobiliers')">
                <span class="chip"><i class="fa fa-fw fa-list-alt"></i>&nbsp; Immobiliers #</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'immobiliers'">
                <ul class="submenu">
                    <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Personnels/Consultant</span></a>
                    </li>
                    <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Docs. Consultants</span></a>
                    </li>
                </ul>
            </li>
        </div>




        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('missions')">
                <span class="chip"><i class="fa fa-fw fa-car"></i>&nbsp; Missions#</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'missions'">
                <ul class="submenu">
                    <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Personnels/Consultant</span></a>
                    </li>
                    <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span class="chip"> Docs. Consultants</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'More Theme' | translate }}
        </a> -->
    </ul>
</nav>