<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
      
        <a routerLink="/users" [routerLinkActive]="['router-link-active']" *ngIf="user_role" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;Utilisateurs
        </a>


 
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-fw fa-wrench"></i>&nbsp; Paramètres</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li [routerLink]="['/parametres/pieces-administratives']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Pièces Administratives</span></a>
                    </li>
                    <li [routerLink]="['/parametres/competences']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Compétences</span></a>
                    </li>
                    <li [routerLink]="['/parametres/branches']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Branches</span></a>
                    </li>

                    <li [routerLink]="['/parametres/fonctions']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Fonctions</span></a>
                    </li>
                    <li [routerLink]="['/parametres/antennes-sites']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Antennenes Sites</span></a>
                    </li>
                    <li [routerLink]="['/parametres/departements-services']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Départements & Services</span></a>
                    </li>
                    <li [routerLink]="['/parametres/systemes']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span>Systèmes</span></a>
                    </li>
                </ul>
            </li>
        </div>





        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('rh')">
                <span><i class="fa fa-fw fa-file"></i>&nbsp; RH/Consultants</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'rh'">
                <ul class="submenu">
                    <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                       <a href="javascript:void(0)"><span> Personnels/Consultant</span></a>
                    </li>
                    <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                        <a href="javascript:void(0)"><span> Docs. Consultants</span></a>
                    </li>
                </ul>
            </li>
        </div>




        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('rh')">
                    <span><i class="fa fa-fw fa-file"></i>&nbsp; Immobiliers</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'rh'">
                    <ul class="submenu">
                        <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                           <a href="javascript:void(0)"><span> Personnels/Consultant</span></a>
                        </li>
                        <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                            <a href="javascript:void(0)"><span> Docs. Consultants</span></a>
                        </li>
                    </ul>
                </li>
            </div>




            <div class="nested-menu">
                    <a class="list-group-item" (click)="addExpandClass('rh')">
                        <span><i class="fa fa-fw fa-file"></i>&nbsp; Missions</span>
                    </a>
                    <li class="nested" [class.expand]="showMenu === 'rh'">
                        <ul class="submenu">
                            <li [routerLink]="['/ressources-humaines/personnels-consultants']" [routerLinkActive]="['router-link-active']">
                               <a href="javascript:void(0)"><span> Personnels/Consultant</span></a>
                            </li>
                            <li [routerLink]="['/ressources-humaines/documents-consultants']" [routerLinkActive]="['router-link-active']">
                                <a href="javascript:void(0)"><span> Docs. Consultants</span></a>
                            </li>
                        </ul>
                    </li>
                </div>
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'More Theme' | translate }}
        </a> -->
    </ul>
</nav>
