<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Identité</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" #identiteForm="ngForm" name="identiteForm">
            <div class="form-group">
                <label class="form-control-label" for="DescriptionPiece">Nom </label>
                <input type="text" class="form-control" [(ngModel)]="identite.last_name" name="last_name" id="last_name"
                    required>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="DescriptionPiece">Prénoms </label>
                <input type="text" class="form-control" [(ngModel)]="identite.first_name" name="first_name" id="first_name"
                    required>
            </div>

            <div class="form-group">
                    <label class="form-control-label" for="sexe">Sexe </label>
                    <input type="text" class="form-control" [(ngModel)]="identite.sexe" name="sexe" id="sexe" required>
            </div>

      

            <div class="form-group">
                    <label class="form-control-label" for="birthday">Date de naissance</label>
                    <div class="input-group">
                        <input type="text" class="form-control " [(ngModel)]="identite.birthday"
                         name="birthday" ngbDatepicker #d="ngbDatepicker" id="birthday" required>
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            <div class="form-group">
                    <label class="form-control-label" for="titre">Titre </label>
                    <input type="text" class="form-control" [(ngModel)]="identite.titre" name="titre" id="titre" required>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="identite.email" name="email" id="email" required>
            </div>

            <div class="form-group">
                    <label class="form-control-label" for="telephone">Téléphone </label>
                    <input type="text" class="form-control" [(ngModel)]="identite.phone" name="phone" id="ohone" required>
            </div>


            <div class="form-group">
                <label class="form-control-label" for="address">Adresse</label>
                <input type="text" class="form-control" [(ngModel)]="identite.address" name="address" id="address"
                    required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="identiteForm.form.invalid">Valider</button>
    </div>
</ng-template>


<!-- Template de modification -->
<ng-template #password let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Changer le mot de passe</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ustify-content-center" *ngIf="identite.lenght>1">
            <div class="form-group">
                <label class="form-control-label" for="DescriptionPiece">Ancien mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="identite.opassword" name="opass" id="opass"
                    required>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="DescriptionPiece">Nouveau mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="identite.password" name="newpass" id="newpass"
                    required>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="DescriptionPiece">confirmer mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="identite.rpassword" name="rnpass" id="rpass"
                    required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>

        <button type="button" class="btn btn-danger" (click)="save()">Valider</button>
    </div>
</ng-template>


<div>
  
    <div class="card">
        <div class="card-header">
            <span> Identité Unique </span>
           
            <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                <i class="fa fa-plus" aria-hidden="true" *ngIf="identites.length <= 0 "></i>
                <i class="fa fa-pencil" aria-hidden="true" *ngIf="identites.length >=1" ></i>
            </span>
        </div>
        <div class="card-body" *ngIf="identites.length>=1">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/logo.png" width="100px"/>
                </div>
                <div class="col-md-6">
                    <p></p>
                    <!-- <p class="card-text"> Nom : {{identite.last_name}} </p>
                    <p class="card-text"> Prénoms : {{identite.first_name}} </p>
                    <p class="card-text"> Date de naissance : {{identite.birthday | date:yMdjm}} </p>
                    <p class="card-text"> Sexe : {{identite.sexe}}</p>
                    <p class="card-text"> Email : {{identite.email}} </p>
                    <p class="card-text"> Titre : {{identite.titre}} </p>
                    <p class="card-text"> Tél : {{identite.phone}} </p>
                    <p class="card-text"> Adresse : {{identite.address}} </p> -->
                </div>

            </div>

        </div>
    </div>

    <div style="margin-top:50px"></div>

    <!-- formations -->
    <div class="card">
            <div class="card-header">
                <span> Formations </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>
    

    <div style="margin-top:70px"></div>


    <!-- Outils Informatiques -->
    <div class="card">
            <div class="card-header">
                <span> Outils Informatique </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    
    
    </div>
    


    <div style="margin-top:70px"></div>

    <!-- Affiliations -->
    <div class="card">
            <div class="card-header">
                <span> Affiliations </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>
    

    <!-- Publication réalisées -->
    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Publication réalisées </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>



    <!-- Aptitudes -->

    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Aptitudes </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>



    <!-- Experience Pro -->

    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Expériences Professionnelles </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>






    <!-- Langues -->
    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Langues </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>


    <!-- Personnes ressources -->

    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Personnes ressources </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>



    <!-- Pièces administratives -->
    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Pièces Administratives </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>


    <!-- Signature -->
    <div style="margin-top:70px"></div>

    <div class="card">
            <div class="card-header">
                <span> Signature </span>
                <span (click)="open(content,identite)" class="float-right btn btn-default float-right" style="cursor:pointer;">
                    <i class="fa fa-pencil" aria-hidden="true"></i></span>
            </div>
            <div class="card-body" *ngIf="identite.lenght>1">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="row">
    
                    <div class="col-md-4">
                        <img src="assets/images/logo.png" width="100px" />
                    </div>
                    <div class="col-md-6">
                        <p></p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.last_name}} </p>
                        <p class="card-text"> Nom d'utilisateur : {{identite.first_name}} </p>
                        <p class="card-text"> Email : {{identite.email}} </p>
                        <p class="card-text"> Adresse : {{identite.address}} </p>
                        <p class="card-text"> Rôle : {{identite.roles}}</p>
                        <button class="btn btn-small btn-warning" (click)="open(password,identite, 'chpass')"> Changer le
                            mot de passe</button>
                    </div>
    
                </div>
    
            </div>
    </div>




</div>